@{
  Layout = null;
}
<div class="alerta-contenedor">
  <div id="system-confirm" class="alerta default">
    <div class="alerta-titulo">
      <h1 id="alert-title"></h1>
      <div class="alerta-cerrar">
        <img src="~/resources/images/mimedellin/cerrar.png" border="0" alt="icon" /></div>
    </div>
    <div class="clear"></div>
    <p id="alert-message"></p>
    <div class="clear"></div>
    <div class="centrado2">
              <div class="alerta-cancelar margin-alert">
        <a>
          <h3>@Resources.Global.Messages.CANCEL</h3>
      
        </a>
      </div>
      <div class="alerta-aceptar">
        <a>
          <h3>@Resources.Global.Messages.ACCEPT</h3>
          
        </a>
      </div>

    </div>
    <div class="clear"></div>
  </div>
</div>
