@{
  Layout = null;
}

<div id="user-card" class="mm2-card-people2" style="display:none;">
  <div class="mm2-image-people2"></div>
  <div class="mm2-name-people2"></div>
  <div class="mm2-container-points">
    
  </div>
  
</div>
