@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <script src="~/Resources/Scripts/jquery-1.7.1.min.js"></script>
    <script language="javascript" type="text/javascript">
        if (window.opener != null) {
            $.post('@Url.Action("twitterinfo", "Registro")', { oauthtoken: getQuerystring('oauth_token'), oauthverifier: getQuerystring('oauth_verifier') }, function (data) {
                if (data.authenticated == 1) {
                    if (window.opener.globalCallback) {
                        window.opener.globalCallback();
                        window.close();
                    }
                    else{
                        window.opener.location.href = window.opener.location.href;
                        window.close();
                    }
                }
                else if (data.authenticated == 2) {
                    window.opener.systemAlert('Ups!', 'Estás bloqueado');
                }
                else {
                    if (data.token != undefined && data.token != '' && data.token != 'undefined') {
                        window.opener.createCookie('twitter-token', data.token, 0);
                        window.opener.createCookie('user-image', data.image.replace('normal', 'bigger'), 0);
                        window.opener.showRegistry();
                        window.close();
                    } else {
                        alert('Intenta con otra de las redes sociales');
                        window.close();
                    }
                }
            });
        }

        function getQuerystring(key, default_) {
            if (default_ == null) default_ = "";
            key = key.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regex = new RegExp("[\\?&]" + key + "=([^&#]*)");
            var qs = regex.exec(window.location.href);
            if (qs == null)
                return default_;
            else
                return qs[1];
        }
    </script>
</body>
</html>
