@{
  Layout = null;
}

<div class="alerta">
  <div class="alerta-titulo">
    <h1>@ViewBag.TXTEDITLOGO</h1>
    <div class="alerta-cerrar">
      <img src="~/resources/images/mimedellin/cerrar.png" border="0" alt="icon" />
    </div>
  </div>
  <div class="clear"></div>

  <div class="editable-content">
  
  </div>

  <div class="clear"></div>
    <div class="centrado">
  <div class="alerta-aceptar">
    <a>
      <h3>@ViewBag.SAVE</h3>
      <span></span>
    </a>
  </div> 
        </div>
  <div class="clear"></div>
</div>
