<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PathHost" value="http://191.236.125.168/test" />
  <add key="MailFrom" value="info@citiesfor.life" />
  <add key="RecoveryMailFrom" value="info@citiesfor.life" />
  <add key="MailContact" value="info@citiesfor.life" />
  <add key="WidthThumb" value="50" />
  <add key="HeightThumb" value="50" />
  <add key="EnabledAudit" value="true" />
  <add key="ApplicationName" value="Admin de contenidos" />
  <add key="TitleHome" value="Aventura" />
  <add key="DescriptionHome" value="Cities for Life una plataforma para que construyamos juntos nuestras ciudades." />
  <add key="EstamosParticipando" value="104" />
  <add key="GoogleApiKey" value="AIzaSyD1IpczIXZo1TAXNg-3D_CtrXrYIJGgwJI" />
  <add key="GoogleAppBrowserKey" value="AIzaSyCaFkAbuO8_91rgFTG8iKpir8-EkNcKgQg" />
  <add key="FacebookAppID" value="990193381005135" />
  <!--<add key="FacebookAppID" value="403029506415939" />-->
  <add key="LinkedInApiKey" value="771068iez6r7w8" />
  <add key="TwitterApiKey" value="DA4PztQSOdXOYcxXJRWWkw0DL" />
  <add key="TwitterConsumerSecret" value="9fEZnxvo5kU4s0gZZn0VE8ygBhNP9feeqlk99lUxc4ll6CmygE" />
  <add key="TwitterTokenSecret" value="NPnyttLa6HQQxmktzQ9htlWyVt5LxrprHlMVPfohVUGpS" />
  <add key="EnlaceGoogle" />
  <add key="EnlaceFacebook" value="https://www.facebook.com/Citiesflife" />
  <add key="EnlaceLinkedIn" value="https://co.linkedin.com/in/citiesflife"/>
  <add key="EnlaceTwitter" value="https://twitter.com/citiesflife" />
  <add key="EnlaceInstagram" value="https://instagram.com/Citiesflife" />
  <add key="EnlaceYoutube" value="https://www.youtube.com/channel/UCOEI7eW9THGW99rk5W50h9A" />
  <add key="GoogleAnalyticsID" value="UA-64516836-2" />
</appSettings>